<html lang="en" ng-app="phonecatApp">
<head>
  <script src="assets/js/angular.js"></script>
  <script src="assets/js/controller.js"></script>
  <script src="assets/js/app.js"></script>
  <script src="assets/js/angular-route.js"></script>
  <link rel="stylesheet" href="assets/css/bootstrap.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body ng-controller="DetailCtrl">



<div class="row"><div class="col-md-12 col-lg-12 nisa ">{{phone.name}}</div></div>
<div class="row">
				<div class="col-md-6 col-lg-6 nisa">Coach : <dd>{{phone.coach}}</dd></div>
				 <div class="col-md-6 col-lg-6 nisa">Captain : <dd>{{phone.captain}}</dd></div>
</div>
<div class="row"><div class="col-md-12 col-lg-12 nisa ">Owner : {{phone.owner}}</div></div>


 



</body>
</html>
